<section>
  <div class="page-header">
    <h1>Exchanges</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="exchange in vm.exchanges"
       ui-sref="exchanges.view({ exchangeId: exchange._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="exchange.created | date:'mediumDate'"></span>
        by
        <span ng-if="exchange.user" ng-bind="exchange.user.displayName"></span>
        <span ng-if="!exchange.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="exchange.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.exchanges.$resolved && !vm.exchanges.length">
    No Exchanges yet, why don't you <a ui-sref="exchanges.create">create one</a>?
  </div>
</section>
